:root{
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("http://getwallpapers.com/wallpaper/full/f/c/1/745431-download-free-good-desktop-backgrounds-1920x1200-large-resolution.jpg");

             }

body {
    font-family: Arial, sans-serif;
    margin: 0;
    font-size: 16px;
    padding: 0;
  }
  
  h1, h2, h3 {
    margin: 3;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Header styles */
  
    header {
      background-color: #333;
      color: #fff;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: left;
      position: center;
    }
    
    header img {
      background-image: none;
      max-width: 50px;
      height: auto;
      margin-right: 10px;
      
    }
    
    nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    
    nav ul li {
      display: inline;
      margin-right: 10px;
    }
    
    nav ul li a {
      color: #fff;
      text-decoration: none;
      padding: 5px 10px;
    }
    
    nav ul li a:hover {
      background-color: #555;
    }
    
  
  /* Main styles */
  main {
    padding: 20px;
  }
  
  .overview {
    margin-bottom: 30px;
    color: azure;
  }
  
  .cards {
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
    flex-basis: 30%;
    background-color: gray;
    padding: 10px;
    margin: 10px;
    text-align: center;
  }
  .latest-transactions {
    color: azure;
  }
  
  .card h3 {
    margin-top: 0;
  }
  
  /* Transactions table styles */
  table {
    margin: none;
    border-collapse: collapse;
    width: 800px;
  }
  
  th,
  td {
    padding: 10px;
    text-align: left;
    color: azure;
  }
  
  th {
    background-color: #333;
    color: #fff;
  }
  
  td {
    border-bottom: 1px solid #333;
  }
  
  tr:nth-child(even) {
    background-color: #333;
  }
  
/* Buttons styles */
a.button-link {
    text-decoration:wavy;
    
  }
  
  button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: block;
    margin: 0 auto;
  }
  
  
  button:hover {
    background-color: #555;
    transform: scale(1.05);
  }
  
  .button:focus {
    outline: none;
  }
  
  .button-container {
    display: inline-block;
    margin-right: 100px;
    margin-left: 100px;
  }
  
  /* Footer styles */
  footer {
    background-color: #333;
    color: #fff;
    padding: 12px;
    text-align: center;
  }
  