:root {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("http://getwallpapers.com/wallpaper/full/f/c/1/745431-download-free-good-desktop-backgrounds-1920x1200-large-resolution.jpg");
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  
  margin: 0;
  padding: 0;
}

/* Header styles */
header {
  background-color: #333;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #fff;
  margin: 0;
}

/* Table styles */
table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 800px;
}

th,
td {
  padding: 10px;
  text-align: left;
  color: azure;
}

th {
  background-color: #333;
  color: #fff;
}

td {
  border-bottom: 1px solid #333;
}

tr:nth-child(even) {
  background-color: #333;
}


/* Button styles */
.button-container button {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

.button-container button:hover {
  background-color: #555;
  transform: scale(1.05);
}

.button-container button:focus {
  outline: none;
}

  /* Input styling */
  input[type="text"] {
    width: 300px;
    padding: 8px;
  }
  
  /* Clear button styling */
  #clearButton {
    margin-left: 10px;
  }
  
  /* Additional styles */
  .body1 {
    padding: 20px;
  }
  
  .link-button {
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
  }
  
  .link-button button {
    background-color: #fff;
    color: #fff;
  }
  
  .link-button button:hover {
    background-color: #111;
  }