:root{
    background-image: linear-gradient( 86.3deg,  rgba(0,119,182,1) 3.6%, rgba(8,24,68,1) 87.6% );
    }
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background: var(--background-color);
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

a{
    text-decoration: none;
    outline: none;
}

ul li{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

ul li:hover p{
    transform: scale(1.25);
    opacity: 1;
}

ul li:hover a{
    opacity: 1;
}

i{
    color: #fff;
}
i p{
    font-size:0.5rem;
}

.selector-menu{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.selector-menu a{
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 60px;
}

.selector-menu a:hover{
    transform: scale(1.5);
    background: rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.6);
    text-decoration: #fff;
}
.menu-container{
    width: 300px;
}
.header-image{
    background: url();
    height: 150px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
}