:root{
   /* background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("http://getwallpapers.com/wallpaper/full/f/c/1/745431-download-free-good-desktop-backgrounds-1920x1200-large-resolution.jpg");
*/
background-image: url(x.jpg);
background-size: cover;
               }
*{
    border-color: #fff;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}
button:hover{
  
    transform: scale(1.05);
  }
body{
    border-color: #fff;
    background: var(--background-color);
    font-family: Michroma;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

a{
    border-color: #fff;
    font-family: Michroma;
    text-decoration: none;
    outline: none;
}

ul li{
    border-color: #fff;
    font-family: Michroma;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

ul li:hover p{
    font-family: Michroma;
    transform: scale(1.25);
    opacity: 1;
}

ul li:hover a{
    font-family: Michroma;
    opacity: 1;
}

i{
    color: #fff;
}



i p{
    font-family: Michroma;
    font-size:8px;
    font-style: italic;
   
}

.selector-menu{
    border-color: #fff;
    font-family: Michroma;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.selector-menu a{
    
    font-family: Michroma;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 60px;
}

.selector-menu a:hover{
    font-family: Michroma;
    transform: scale(1.5);
    background: linear-gradient(
        to right,
        #8f0eff,
        #000
      );
      opacity: 0.9;
    /*box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.6);*/
    text-decoration: #fff;
}

.tooltipText{
    border-color: #fff;
    font-family: Michroma;
    visibility: hidden;
    width: 50px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}


.menu-container{
    border-color: #fff;
    font-family: Michroma;
    width: 300px;
}
.header-image{
    background: url();
    height: 150px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
}

.overlay{
    background: linear-gradient(
        to right,
        #8f0eff,
        #000
      );
      opacity: 0.5;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: absolute;
    width: 100%;
    height: 100%;
}
.balance{
    color: #fff;
    position: absolute;
    bottom: 20px;
    left: 20px;
   
}

.balance hl{
    font-family: Michroma;
    font-size: 1.6rem;
}

.balance div{
    font-family: Michroma;
    display: flex;
    align-items: center;
    padding: 10px;
}

.balance p{
    font-family: Michroma;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 5px;
}

.list a, .list p{
    color: #000;
    opacity: 0.4;

}

.item{
    background: #fff;
    padding: 20px;
}

.item:not(:last-child){
    border-bottom: 1px solid #dedede;
}

.item:last-child{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.close {
    font-family: Michroma;
    margin: 5% auto;
    background: linear-gradient(
        to right,
        #8f0eff,
        #000
      );
    border: none;
    border-radius: 20px;
    color: #fff;
    padding: 15px 110px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.home{
    font-family: Michroma;
    margin:  auto;
    padding: 20px 130px;
    background-color: darkgrey;
    border: none;
    border-radius: 20px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
   
}
.home a:hover{
    color: yellow;
}
.close :hover{
    color: bisque;
    background-color: #9599E2;
}
#confirm {
    display:none;
}