:root{
    /*background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("http://getwallpapers.com/wallpaper/full/f/c/1/745431-download-free-good-desktop-backgrounds-1920x1200-large-resolution.jpg");
*/
background-image: url(Black.jpg);
background-size: cover;
               }
*{
    margin: 0;
    padding: 0;
}
body{
    
    font-size: 14px;
    font-family: Michroma;
}

.container{
    color: white;
    width: 80%;
    margin: 50px auto;
}
.contact-box{
    border-radius: 20px;
    background: #fff;
    display: flex;
}
.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
}
.contact-right{
    flex-basis: 40%;
    padding: 40px;
    border-radius: 0px 20px 20px 0px;
    background:url(3312542.jpg);
    background-size:cover;
    color: #fff;
    font-family: Michroma;
}
h1{
    margin-bottom: 10px;

}

.container p{
    margin-bottom: 40px;
}

.input-row{
    font-family: Michroma;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-row .input-group{
    font-family: Michroma;
    flex-basis: 45%;
}

input{
    font-family: Michroma;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}


textarea{
    font-family: Michroma;
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;

}
label{
    margin-bottom: 6px;
    display: block;
    color: #3C3493;
}

button{
    font-size: 9px;
    font-family: Michroma;
    background: #3C3493;
    width: 100px;
    border: none;
    outline: none;
    color: #ccc;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
}
button:hover{
    color: #fff;
    transform: scale(1.05);
}
.contact-left h3{
    color: #1c00b5;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact-rigth h3{
    font-weight: 600;
    margin-bottom: 10px;
}
tr td:first-child{
    padding-right: 20px;

}

tr td{
    padding-top: 20px;
}