@font-face {
  font-family:gg ;
  src: url(getvoip-grotesque.ttf);
}
@font-face {
  font-family:Michroma ;
  src: url(Michroma-Regular.ttf);
}
:root{
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("http://getwallpapers.com/wallpaper/full/f/c/1/745431-download-free-good-desktop-backgrounds-1920x1200-large-resolution.jpg");

             }
body {
    font-family: Michroma;
    font-size: 16px;
  }
  
  /* Style the header */
  h1 {
    color: #333;
    font-size: 28px;
    text-align: center;
  }

  
  
  /* Style the form */
  form {
    margin: 20px auto;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  select,
  input[type="date"] {
    margin-bottom: 20px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
  }
  
  /* Style the table */
  table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 800px;
  }
  
  th,
  td {
    padding: 10px;
    text-align: left;
    color: azure;
  }
  
  th {
    background-color: #333;
    color: #fff;
  }
  
  td {
    border-bottom: 1px solid #333;
  }
  
  tr:nth-child(even) {
    background-color: #333;
  }
  
  